In [6]:
import pandas as pd
archivos = pd.read_csv("archivos\\datos.csv")
archivos

              Título             Película         Director
0     Los Vengadores         The Avengers      Joss Whedon
1         Iron Man 2           Iron Man 2      Jon Favreau
2  El Increíble Hulk  The Incredible Hulk  Louis Leterrier
3               Thor                 Thor  Kenneth Branagh

In [1]:
import pandas as pd
data_frame = pd.read_csv("archivos\\datos.csv")
df = data_frame
titulos = df['titulo']
titulos

0       Los Vengadores
1           Iron Man 2
2    El Increíble Hulk
3                 Thor
Name: titulo, dtype: object

In [5]:
cadena = "qwertyuiop"
cadena[0:6]

'qwerty'

In [8]:
import pandas as pd
data_frame = pd.read_csv("archivos\\datos.csv")
df = data_frame
ganancias = df['ganancias']



# ordeno de menor a mayor, pero utilizo el data_frame
data_frame.sort_values("ganancias", ascending=False)

              titulo             pelicula         director  ganancias
0     Los Vengadores         The Avengers      Joss Whedon    5760000
2  El Increíble Hulk  The Incredible Hulk  Louis Leterrier    4000000
1         Iron Man 2           Iron Man 2      Jon Favreau    2300000
3               Thor                 Thor  Kenneth Branagh    1200000

In [12]:
# ordeno de menor a mayor
ganancias.sort_values()

3    1200000
1    2300000
2    4000000
0    5760000
Name: ganancias, dtype: int64

In [11]:
concatenacion = pd.concat([data_frame,ganancias ])
concatenacion

,titulo,pelicula,director,ganancias,0
0,Los Vengadores,The Avengers,Joss Whedon,5760000.0,NaN
1,Iron Man 2,Iron Man 2,Jon Favreau,2300000.0,NaN
2,El Increíble Hulk,The Incredible Hulk,Louis Leterrier,4000000.0,NaN
3,Thor,Thor,Kenneth Branagh,1200000.0,NaN
0,NaN,NaN,NaN,NaN,5760000.0
1,NaN,NaN,NaN,NaN,2300000.0
2,NaN,NaN,NaN,NaN,4000000.0
3,NaN,NaN,NaN,NaN,1200000.0

In [24]:
import pandas as pd
df = pd.read_csv("archivos\\datos_x50.csv")
dfx8 = df.head(8)
dfx8.sort_values("Ganancias", ascending=False)

,Título,Película,Director,Ganancias
6,Guardianes de la Galaxia,Guardians of the Galaxy,James Gunn,7700000
4,Iron Man,Iron Man,Jon Favreau,5850000
0,Los Vengadores,The Avengers,Joss Whedon,5760000
2,El Increíble Hulk,The Incredible Hulk,Louis Leterrier,4000000
5,Capitán América: El Primer Vengador,Captain America: The First Avenger,Joe Johnston,3700000
1,Iron Man 2,Iron Man 2,Jon Favreau,2300000
7,Black Widow,Black Widow,Cate Shortland,1900000
3,Thor,Thor,Kenneth Branagh,120000

In [26]:
df.tail(5)

,Título,Película,Director,Ganancias
41,Avengers: The Secret Invasion,Avengers: The Secret Invasion,TBD,0
42,Avengers: Rise of the Skrulls,Avengers: Rise of the Skrulls,TBD,0
43,Avengers: The Cosmic Quest,Avengers: The Cosmic Quest,TBD,0
44,Avengers: The Eternals,Avengers: The Eternals,TBD,0
45,Avengers: The Inhumans,Avengers: The Inhumans,TBD,0

In [33]:
filas_y_columnas_totales = df.shape
filas, columnas = filas_y_columnas_totales
print("filas :",filas,"columnas :", columnas)

filas : 46 columnas : 4

In [36]:
# obtiene de los datos posibles sus estadisticas
data_frame.describe()

          ganancias
count  4.000000e+00
mean   3.315000e+06
std    1.995887e+06
min    1.200000e+06
25%    2.025000e+06
50%    3.150000e+06
75%    4.440000e+06
max    5.760000e+06

In [13]:
concatenacion = pd.concat([data_frame,df ])
concatenacion

              titulo             pelicula         director  ganancias
0     Los Vengadores         The Avengers      Joss Whedon    5760000
1         Iron Man 2           Iron Man 2      Jon Favreau    2300000
2  El Increíble Hulk  The Incredible Hulk  Louis Leterrier    4000000
3               Thor                 Thor  Kenneth Branagh    1200000
0     Los Vengadores         The Avengers      Joss Whedon    5760000
1         Iron Man 2           Iron Man 2      Jon Favreau    2300000
2  El Increíble Hulk  The Incredible Hulk  Louis Leterrier    4000000
3               Thor                 Thor  Kenneth Branagh    1200000

In [37]:
elemento_especifico_loc = df.loc[2,"Ganancias"]
elemento_especifico_loc

4000000

In [39]:
elemento_especifico_iloc = df.iloc[2,3]
elemento_especifico_iloc

4000000

In [41]:
# acceder a todas las ganancias
todas_las_ganancias = df.iloc[:,3]
# solo la ganancia le posicion 0
todas_las_ganancias[0]

5760000

In [42]:
# acceder a todas las ganancias
fila3_todos_los_datos = df.iloc[2,:]

fila3_todos_los_datos

Título         El Increíble Hulk
Película     The Incredible Hulk
Director         Louis Leterrier
Ganancias                4000000
Name: 2, dtype: object

In [46]:
# acceder a todas las ganancias mayores a 10000000
ganancias_mayores = df.loc[df["Ganancias"]>10000000,:]

ganancias_mayores

,Título,Película,Director,Ganancias
14,Iron Man 3,Iron Man 3,Shane Black,12100000
16,Spider-Man: Far From Home,Spider-Man: Far From Home,Jon Watts,11400000
18,Capitán América: Civil War,Captain America: Civil War,Anthony and Joe Russo,11500000
19,Spider-Man: No Way Home,Spider-Man: No Way Home,Jon Watts,10700000